
            @font-face {
                font-family: 'Publico Text';
                src: url('https://wisconsinwatch.org/wp-content/ww-fonts/PublicoText-Roman.otf') format('opentype');
                font-weight: 400;
                font-display: swap;
            }

            @font-face {
                font-family: 'Publico Text';
                src: url('https://wisconsinwatch.org/wp-content/ww-fonts/PublicoText-Italic.otf') format('opentype');
                font-weight: 400;
                font-style: italic;
                font-display: swap;
            }

            @font-face {
                font-family: 'Publico Text';
                src: url('https://wisconsinwatch.org/wp-content/ww-fonts/PublicoText-Semibold.otf') format('opentype');
                font-weight: 500;
                font-display: swap;
            }

            @font-face {
                font-family: 'Publico Text';
                src: url('https://wisconsinwatch.org/wp-content/ww-fonts/PublicoText-SemiboldItalic.otf') format('opentype');
                font-weight: 500;
                font-style: italic;
                font-display: swap;
            }

            @font-face {
                font-family: 'Publico Text';
                src: url('https://wisconsinwatch.org/wp-content/ww-fonts/PublicoText-Bold.otf') format('opentype');
                font-weight: 700;
                font-display: swap;
            }

            @font-face {
                font-family: 'Publico Text';
                src: url('https://wisconsinwatch.org/wp-content/ww-fonts/PublicoText-BoldItalic.otf') format('opentype');
                font-weight: 700;
                font-style: italic;
                font-display: swap;
            }

            @font-face {
                font-family: 'Publico Banner';
                src: url('https://wisconsinwatch.org/wp-content/ww-fonts/PublicoBanner-Extrabold.otf') format('opentype');
                font-weight: 900;
                font-display: swap;
            }

            @media (min-width: 782px) {
                .middle-header-contain .wrapper {
                    padding-top: 10;
                }

                .site-header .custom-logo-link {
                    margin: -10px 0 -15px;
                }
            }

            @media (min-width: 782px) {
                body.h-stk:not(.h-sub) .site-header .custom-logo {
                    max-width: 283px;
                    max-height: 90px;
                }
            }

            @media (min-width: 782px) {
                .middle-header-contain .wrapper {
                    align-items: flex-end;
                }
            }

            .block-buttons.is-horizontal {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: center;
                gap: 0.5rem; /* spacing between buttons */
            }

            .is-layout-flex {
                display: flex;
            }

            .is-horizontal {
                flex-direction: row;
            }

            .is-content-justification-center {
                justify-content: center;
            }

            .site-header nav {
                font-family: 'Heebo',sans-serif;
            }

            .nav1 .main-menu > li > a {
                font-weight: normal;
            }

            .dd-menu > ul > li.menu-item-has-children .submenu-expand {
                position: relative;
                top: 1px;
            }

            .site-header .nav1 .main-menu > li:hover,.site-header .nav1 .main-menu > li > a:hover {
                color: #3490c7;
                opacity: 1;
            }

            .bottom-header-contain .wrapper {
                border-bottom-width: 1px;
            }

            .header-search-contain #header-search {
                right: 32px;
                top: -2px;
            }

            #header-search input {
                line-height: 1.4;
            }

            .top-header-contain {
                background: transparent;
            }

            .top-header-contain nav {
                padding-bottom: 0;
            }

            .site-header .nav2 li:last-child {
                margin: 0 0 0 0.5em;
            }

            .site-header #social-nav-contain {
                order: -1;
            }

            .site-header .social-links-menu li a {
                color: #3490c7;
            }

            .site-header .nav2 a {
                background: #b91111;
                font-family: 'Publico Banner',serif;
                font-size: 1rem;
                padding: 0 0.5em;
            }

            .nav3 a {
                background: transparent;
            }

            .site-header .nav3 a {
                font-size: 0.9rem;
                padding: 0 0.5em;
            }

            .site-header .nav3 a,.site-header .nav3 a:visited {
                color: #111;
            }

            .site-header .nav3 a:focus,.site-header .nav3 a:visited:hover,.site-header .nav3 a:hover {
                background: transparent;
                color: #3490c7;
            }

            .site-header .nav3 a {
                margin-bottom: 0;
            }

            .mobile-sidebar .nav3 li {
                display: block;
            }

            .mobile-sidebar .nav3 a {
                font-size: 0.8rem;
                padding: .25rem 0;
            }

            .mobile-sidebar .nav3 a,.mobile-sidebar .nav3 a:hover {
                background: transparent;
            }

            .menu-highlight-2 a {
                background-color: #b91111 !important;
                color: #fff !important;
            }

            a.button.mb-cta {
                border-radius: 0;
                font-family: 'Publico Banner',serif;
                padding: 0.5em;
            }

            .accent-header,.article-section-title,#secondary .widget-title,.author-bio h2 {
                border-bottom: 2px solid #ddd;
                color: #666;
                font-size: 0.8rem;
            }

            .wp-block-group .wp-block-group__inner-container > .accent-header + p,.accent-header + p {
                margin-top: -16px;
            }

            figcaption,.wp-caption-text {
                font-family: "Heebo",sans-serif;
            }

            .image-credit {
                font-style: italic;
            }

            .image-credit:before {
                content: "(";
            }

            .image-credit:after {
                content: ")";
            }

            .wp-media-credit {
                display: none;
            }

            div.wpnbha figcaption {
                font-size: 13px;
            }

            div.wpnbha figcaption {
                margin: .5em 0 1em;
            }

            .newspack-front-page .entry-footer {
                display: none;
            }

            .newspack-front-page #colophon {
                margin-top: 0;
            }

            #mc4wp-form-1 .mc4wp-form-fields {
                font-family: 'Heebo',sans-serif;
            }

            #mc4wp-form-1 .mc4wp-col.col2 {
                margin-top: 1rem;
                justify-content: center;
            }

            #mc4wp-form-1 .mc4wp-col.col2 label {
                margin-right: 1rem;
            }

            #mc4wp-form-1 .mc4wp-col > div {
                margin: 0 0 0.5em;
                width: 100%;
            }

            @media (min-width: 782px) {
                #mc4wp-form-1 .mc4wp-col.col1 > div {
                    width: 32%;
                }

                #mc4wp-form-1 .mc4wp-col {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }
            }

            #mc4wp-form-1 .mc4wp-col label {
                display: block;
                font-weight: bold;
                font-size: 0.9em;
            }

            #mc4wp-form-1 .mc4wp-col label span {
                font-weight: normal;
                font-size: 0.9em
            }

            #mc4wp-form-1 .mc4wp-col input[type="text"],#mc4wp-form-1 .mc4wp-col input[type="email"] {
                display: block;
                width: 100%;
            }

            #mc4wp-form-1 .mc4wp-form-fields .mc4wp-button {
                margin: 1rem 0 0;
                text-align: center;
                width: 100%;
            }

            .newspack-front-page .wpbnbd button[type='submit'],.page-id-713762 .wpbnbd button[type='submit'] {
                background: #b91111;
            }

            .entry-title {
                font-family: 'Publico Banner',sans-serif;
            }

            .accent-header,.article-section-title,.cat-links,.entry-meta {
                font-family: 'Heebo',sans-serif;
            }

            div.wpnbha .cat-links a,div.wpnbha .cat-links a:visited {
                color: #666;
            }

            .entry-meta,div.wpnbha .byline a,div.wpnbha .byline a:visited,.entry-meta .byline a,.entry-meta .byline a:visited {
                color: #888;
            }

            .entry-header .cat-links a,.entry-header .cat-links a:visited,.search .cat-links a,.search .cat-links a:visited,.blog .cat-links a,.blog .cat-links a:visited,.archive .cat-links a,.archive .cat-links a:visited {
                background: transparent;
                color: #3490c7;
                padding: 0;
            }

            .entry-title a:hover,div.wpnbha .entry-title a:hover,div.wpnbha .cat-links a:hover,.entry-header .cat-links a:hover,.entry-meta .byline a:hover {
                color: #3490c7;
            }

            .entry-title a:hover,div.wpnbha .entry-title a:hover,.entry-meta .byline a:hover {
                text-decoration: underline;
            }

            div.wpnbha .cat-links a:hover,.entry-header .cat-links a:hover {
                text-decoration: none;
            }

            .entry-header .cat-links a:not(:last-child):after,.search .cat-links a:not(:last-child):after,.blog .cat-links a:not(:last-child):after,.archive .cat-links a:not(:last-child):after {
                color: #ccc;
                content: "|";
                margin: 0 0.5em 0 0.9em;
            }

            .featured-image-behind .entry-header .cat-links {
                font-size: 0.7em;
            }

            .featured-image-behind .cat-links .sep,.featured-image-beside .cat-links .sep {
                display: none;
            }

            .featured-image-behind .entry-header .cat-links a:hover,.featured-image-beside .entry-header .cat-links a {
                color: #fff;
            }

            .featured-image-behind .entry-header .cat-links a:not(:last-child)::after,.featured-image-beside .entry-header .cat-links a:not(:last-child)::after {
                margin-right: 0.8em;
            }

            .entry-content a,#secondary .textwidget a {
                color: #3490c7;
                text-decoration: none;
            }

            .entry-content a:hover,#secondary .textwidget a:hover {
                color: #3490c7;
                text-decoration: underline;
            }

            .wp-block-button:not(.is-style-outline) .wp-block-button__link:not(.has-text-color):not(:hover),.button,.button:visited,button,input[type="button"],input[type="reset"],input[type="submit"],#secondary .textwidget a.wp-block-button__link {
                color: #fff;
            }

            .widget_recent_entries ul li {
                font-family: "Publico Banner",serif;
            }

            .widget_recent_entries ul li span {
                font-family: "Heebo",sans-serif;
            }

            .entry-content .sidebar2 {
                float: right;
                max-width: 150px;
                margin: 6px 0 12px 20px;
                font-size: .75em;
            }

            .trust-indicators-modal-wrapper {
                border: 1px solid black;
            }

            .trust-indicators-close {
                padding: 0;
                padding-bottom: 4px;
                margin-top: 1em;
                margin-right: 0.5em;
            }

            span.type-of-work {
                display: none;
            }

            .entry-content .trust-project-logo {
                max-width: 200px;
                float: right;
            }

            .author-avatar .avatar-default {
                display: none;
            }

            .entry .newspack-inline-popup {
                border: 0;
                padding: 0;
            }

            .post-template-single-feature .entry .entry-content > .wp-block-group:not(.has-background).alignfull > div > iframe:not(.alignfull):not(.alignwide),.post-template-single-feature .entry .entry-content > .wp-block-group:not(.has-background).alignwide > div > iframe:not(.alignfull):not(.alignwide),.post-template-single-wide .entry .entry-content > .wp-block-group:not(.has-background).alignfull > div > iframe:not(.alignfull):not(.alignwide),.post-template-single-wide .entry .entry-content > .wp-block-group:not(.has-background).alignwide > div > iframe:not(.alignfull):not(.alignwide) {
                max-width: 100%;
            }

            .wp-block-organic-profile-block h3 a {
                color: #3490c7;
            }

            .wp-block-organic-profile-block .organic-profile-image {
                align-items: flex-start;
            }

            .wp-block-organic-profile-block .organic-profile-image[class*="amp-wp-"] figure {
                height: auto;
            }

            .wp-block-organic-profile-block .organic-profile-image figure {
                border-radius: 100%;
                overflow: hidden;
            }

            .page-subtitle {
                display: none;
            }

            .page-description {
                font-family: 'Publico Banner',serif;
            }

            .archive .page-header,.blog .page-header,.search .page-header {
                margin-bottom: 1rem;
            }

            .site-content,.archive .site-content,.blog .site-content,.search .site-content {
                margin-top: 2rem;
            }

            #gform_wrapper_3 label {
                font-family: 'Heebo',sans-serif;
            }

            #gform_wrapper_3 .gfield_label {
                font-size: 0.8em;
            }

            #gform_wrapper_3 .ginput_container_checkbox label {
                font-size: 0.85em;
                font-weight: normal;
                color: #666;
            }

            #gform_wrapper_3 .ginput_container_checkbox label span {
                color: #111;
                display: block;
                font-weight: bold;
            }

            #gform_wrapper_3 .ginput_container_checkbox li input[type="checkbox"] {
                margin: 6px 10px 0 0;
                vertical-align: top;
            }

            .page #comments {
                display: none;
            }

            .site-footer .footer-widgets .widget-title {
                font-family: 'Publico Banner',sans-serif
            }

            .site-footer .widget,.site-footer .widget_nav_menu ul li,.site-info {
                font-family: 'Heebo',sans-serif;
            }

            .footer-widgets .wrapper {
                display: block;
            }

            .footer-widgets section {
                margin-bottom: 2em;
            }

            @media (min-width: 600px) and (max-width: 959px) {
                .footer-widgets .widget_nav_menu ul {
                    column-count: 2;
                }
            }

            @media (min-width: 960px) {
                .footer-widgets .wrapper {
                    display: grid;
                    grid-row-gap: 24px;
                }

                .footer-widgets ul {
                    margin-bottom: 0;
                    padding-bottom: 0;
                }

                .footer-widgets section {
                    grid-row: 1 / 4;
                    margin-bottom: 0;
                }

                .footer-widgets section:first-of-type {
                    grid-column: 1;
                }

                .footer-widgets section:nth-child(2) {
                    grid-column: 2;
                    grid-row: 1/2;
                }

                .footer-widgets section:nth-child(3) {
                    grid-column: 2;
                    grid-row: 2/4;
                }

                .footer-widgets section:nth-child(4) {
                    grid-column: 3;
                    grid-row: 1/3;
                }

                .footer-widgets section:nth-child(5) {
                    grid-column: 3;
                    grid-row: 3/4;
                }
            }

            .wp-block-image [class^='align'] > figcaption {
                display: block;
            }

            .tag-hidert .entry-content > span.rt-reading-time:first-of-type {
                display: none !important;
            }

            .wp-block-heading {
                scroll-margin-top: 100px;
            }

            @media (min-width: 782px) {
                .wp-block-heading {
                    scroll-margin-top: 170px;
                }
            }

            body.cat-sponsored #block-24 {
                display: none !important;
            }